# main
# FINISH_ADMIN_API_URL=http://localhost:9000
# ENV_NAME=prod

# dev
# FINISH_ADMIN_API_URL=http://localhost:9000
# ENV_NAME=dev

# qa
# FINISH_ADMIN_API_URL=http://localhost:9000
# ENV_NAME=qa

# local
FINISH_ADMIN_API_URL=http://localhost:9000
ENV_NAME=local
NUXT_SESSION_PASSWORD=3e00baecb4724f2cbef11efd92d9f58b